.App {
  text-align: center;
}



.Users {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.itemsList {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.item {
  align-items: center;
  box-sizing: border-box;
}

